<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
table.introduction {
  margin: 10px;
}
table.introduction tr {
  text-align: left;
}
table.introduction td {
  padding: 5px;
}
</style>
</head>
<body>

<div class="subMenuTitle">
{{menuTitle}}
</div>

<div class="breadcrumb">
<a style="text-decoration: none;" href="/">HOME</a> &gt; <a style="text-decoration: none;" href="{{mainMenuUrl}}">{{mainMenuTitle}}</a> &gt; {{menuTitle}}
</div>

<hr class="subHr" />

<br/><span style="color:#2260ad;font-size:1.2em;font-weight:bold;">사람 중심인 정보화의 미래를 휴먼베이스가 만들어 갑니다.</span><br/><br/>

<table class="introduction" style="width:98%;">
  <tr style="height:45px;">
    <td style="background-color:#E8E8E8;width:20%">설립일</td>
    <td style="background-color:#F0F0F0;">2015년 5월</td>
  </tr>
  <tr style="height:45px;">
    <td style="background-color:#E8E8E8;width:20%">대표이사</td>
    <td style="background-color:#F0F0F0;">김한울</td>
  </tr>
  <tr style="height:45px;">
    <td style="background-color:#E8E8E8;width:20%">주요사업분야</td>
    <td style="background-color:#F0F0F0;">빅데이터 분석, ISP/연구용역, CDW</td>
  </tr>
  <tr style="height:45px;">
    <td style="background-color:#E8E8E8;width:20%">주요인증</td>
    <td style="background-color:#F0F0F0;">벤처기업 인증, 기업부설연구소 인증</td>
  </tr>
  <tr style="height:45px;">
    <td style="background-color:#E8E8E8;width:20%">회사대표전화</td>
    <td style="background-color:#F0F0F0;">070-8282-5709</td>
  </tr>
  <tr style="height:45px;">
    <td style="background-color:#E8E8E8;width:20%">회사팩스</td>
    <td style="background-color:#F0F0F0;">031-714-6373</td>
  </tr>
  <tr style="height:45px;">
    <td style="background-color:#E8E8E8;width:20%">회사대표메일</td>
    <td style="background-color:#F0F0F0;">info@humanbase.kr</td>
  </tr>
</table>

</body>
</html>