/*div.main {
	width: 980px;
}*/

td.ci {
	width: 60px;
	vertical-align: middle;
}

div.mainDiv1 {
	width: 100%;
	text-align: center;
	background-image: url(/assets/images/bodybackground_img_2.png);
	background-repeat: repeat-x;
}

div.mainDiv2 {
	width: 100%;
	text-align: center;
	background-image: url(/assets/images/subMainBackground_8.png);
	background-repeat: repeat-x;
	background-position: 0 5px;
}

div.subMain {
	background-image: url(/assets/images/subMain.jpg);
	background-repeat: no-repeat;
	background-size: 250px 180px;
	width: 250px;
	height: 180px;
}

div.menuTitle {
  font-weight: bold;
  font-size: 25px;
  height: 40px;
}

div.subTop {
  width: 980px;
  display: inline-block;
  text-align: right;
  margin-top: 6px;
  font-size: 11px;
}

div.subTop a {
  font-family: 바탕체;
  text-decoration: none;
}

/*div.mainMenu {
	position: relative;
}*/

/* 본문 제목 */
.subMenuTitle {
  font-size: 25px;
  font-family: 고딕;
  float: left;
  padding-left: 5px;
  margin-bottom: 7px;
}
/* 경로 */
.breadcrumb {
  font-size: 13px;
  float: right;
  vertical-align: bottom;
  padding-right: 5px;
  padding-top: 7px;
}
/* 경로 */
.breadcrumb a {
  color: black;
  text-docoration: none;
}
hr.subHr {
  color: lightgray;
  clear: both;
}
header, section, aside, footer {
  margin: 0%;
  padding: 0%;
  /* outline: 4px dashed black; */
  vertical-align: top
}
header {
	/* height:55px; */
	margin-top:10px;
	outline: 0px;
}
header#sub {
  height: 195px;
  margin-bottom: 40px;
}

header#sub li.menuItemBold {
  font-weight: bold;
}

header div {
  /* float:right; */
}
div#main header div {
  background-color:#6BBE92;
}
section {
  width: 80%;
  float: right;
}
aside {
  width: 18%;
  float: left;
}
aside, footer {
  clear: both;
  text-align: left;
}
footer {
  font-size: 13px;
}
figure {
  /* float: left; */
  text-align:left;
  margin:0.5% 2%;
}
.menu li {
  display: inline-block;
  list-style: none;
  padding: 5px;
}
.subMenu {
  margin: 0;
  padding: 5px;
}
.subMenu li {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

div.duty {
  width: 42%;
  border: 1px solid black;
  text-align: left;
  padding: 17px;
  margin: 10px;
}

div.duty li {
  margin-bottom: 5px;
}

div.hire, table.hire {
  margin: 20px;
}

table.hire td {
  padding: 13px;
  text-align: left;
  line-height: 140%;
}

table.location td {
  text-align: left;
  vertical-align: top;
  padding: 10px;
}

table.introduction {
  padding: 10px;
}

